:root {
  --header-height: 64px;
}

header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 1100;
}
header {
  font-size: 14px;
}

header .fw-bold {
  font-size: 16px;
}

header a:hover {
  text-decoration: underline;
}

.btn{
  color: #00C83C;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background: #eaeaea;
  transition: left 0.3s ease;
  padding-top: 60px; 
  z-index: 1001;
}

/* Sidebar activo */
.sidebar.active {
  left: 0;
}


.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  background: #00C83C;
  color: #fff;
  border-radius: 4px;
}


.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}