main {
  background-image: url('../assets/fondo.png'); /* tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 🔥 fijo con scroll */
}